body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

main {
  margin: 0 10%;
}

.searchInput {
  width: 46%;
  min-width: 140px;
  margin: 0px 1px;
  margin-bottom: 2px;
  padding-left: 5px;
}

.searchBtn {
  margin-left: 1px;
  min-width: 65px;
  width: 7%;
}

/* CSS styling for issue components */
.issues-header {
  padding: 0px 3px;
}

.issue-container {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 3px;
}

.issue-data {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.assigne-column {
  text-align: right;
  margin-left: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.issue-label {
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 3px;
  padding: 0px 2px;
}

.issue-icons {
  max-width: 55px !important;
  padding: 0px 8px !important;
}

.fa-exclamation {
  border: 1px solid black;
  border-radius: 50%;
  width: 17px;
  text-align: center;
}

.star-default, .star-hover {
  margin-right: 5px;
  font-size: 17px !important;
}

.star:hover .star-default,
.star .star-hover {
    display: none;
}
.star:hover .star-hover {
    display: inline;
}
